{
  "openapi": "3.0.3",
  "info": {
    "title": "Healthcare Plus Platform API",
    "version": "2.0.0",
    "description": "A comprehensive RESTful API for managing patient data, appointments, medical records, and prescriptions within a multi-tenant hospital system. This API is designed with HIPAA compliance in mind, ensuring secure handling of Protected Health Information (PHI) through robust access controls, audit logging, and encryption. It adheres to HL7 FHIR-compatible resource naming conventions and supports role-based access for various user types (admin, doctor, nurse, receptionist)."
  },
  "servers": [
    {
      "url": "https://api.healthcareplus.com/api/v2",
      "description": "Production server for Healthcare Plus Platform API v2"
    }
  ],
  "security": [
    {
      "OAuth2": [
        "patient:read",
        "patient:write",
        "provider:read",
        "provider:write",
        "admin:read",
        "admin:write"
      ]
    }
  ],
  "tags": [
    {
      "name": "Patients",
      "description": "Operations related to patient management, including registration, retrieval, and updates."
    },
    {
      "name": "Appointments",
      "description": "Management of patient appointments with healthcare providers."
    },
    {
      "name": "Medical Records",
      "description": "Access and management of patient medical history and records."
    },
    {
      "name": "Prescriptions",
      "description": "Handling of patient prescriptions."
    }
  ],
  "paths": {
    "/patients": {
      "post": {
        "tags": [
          "Patients"
        ],
        "summary": "Register a new patient",
        "description": "Registers a new patient in the system. Requires 'patient:write' or 'admin:write' scope. All patient data is encrypted at rest and in transit. Access is logged for HIPAA audit trail.",
        "operationId": "registerPatient",
        "security": [
          {
            "OAuth2": [
              "patient:write",
              "admin:write"
            ]
          }
        ],
        "requestBody": {
          "description": "Patient registration details. PHI must be handled securely.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientCreateRequest"
              },
              "examples": {
                "newPatient": {
                  "value": {
                    "firstName": "Jane",
                    "lastName": "Doe",
                    "dateOfBirth": "1990-05-15",
                    "gender": "female",
                    "email": "jane.doe@example.com",
                    "phone": "+15551234567",
                    "address": {
                      "street": "123 Main St",
                      "city": "Anytown",
                      "state": "CA",
                      "zipCode": "90210",
                      "country": "USA"
                    },
                    "insuranceId": "INS-987654321",
                    "bloodGroup": "A+",
                    "emergencyContact": {
                      "name": "John Doe",
                      "phone": "+15557654321",
                      "relationship": "Spouse"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Patient successfully registered.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Patient"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "timestamp": "2023-10-27T10:00:00Z",
                      "statusCode": "SUCCESS",
                      "message": "Patient registered successfully.",
                      "data": {
                        "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                        "firstName": "Jane",
                        "lastName": "Doe",
                        "dateOfBirth": "1990-05-15",
                        "gender": "female",
                        "email": "jane.doe@example.com",
                        "phone": "+15551234567",
                        "address": {
                          "street": "123 Main St",
                          "city": "Anytown",
                          "state": "CA",
                          "zipCode": "90210",
                          "country": "USA"
                        },
                        "insuranceId": "INS-987654321",
                        "bloodGroup": "A+",
                        "emergencyContact": {
                          "name": "John Doe",
                          "phone": "+15557654321",
                          "relationship": "Spouse"
                        },
                        "createdAt": "2023-10-27T10:00:00Z",
                        "updatedAt": "2023-10-27T10:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "List all patients",
        "description": "Retrieves a paginated list of all registered patients. Requires 'provider:read' or 'admin:read' scope. Access is logged for HIPAA audit trail. Patient data is encrypted.",
        "operationId": "listPatients",
        "security": [
          {
            "OAuth2": [
              "provider:read",
              "admin:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/cursorParam"
          },
          {
            "$ref": "#/components/parameters/pageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of patients.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Patient"
                          },
                          "description": "Array of patient objects."
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/PaginationMetadata"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "timestamp": "2023-10-27T10:05:00Z",
                      "statusCode": "SUCCESS",
                      "message": "Patients retrieved successfully.",
                      "data": [
                        {
                          "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                          "firstName": "Jane",
                          "lastName": "Doe",
                          "dateOfBirth": "1990-05-15",
                          "gender": "female",
                          "email": "jane.doe@example.com",
                          "phone": "+15551234567",
                          "address": {
                            "street": "123 Main St",
                            "city": "Anytown",
                            "state": "CA",
                            "zipCode": "90210",
                            "country": "USA"
                          },
                          "insuranceId": "INS-987654321",
                          "bloodGroup": "A+",
                          "emergencyContact": {
                            "name": "John Doe",
                            "phone": "+15557654321",
                            "relationship": "Spouse"
                          },
                          "createdAt": "2023-10-27T10:00:00Z",
                          "updatedAt": "2023-10-27T10:00:00Z"
                        },
                        {
                          "id": "f1e2d3c4-b5a6-0987-6543-210fedcba987",
                          "firstName": "John",
                          "lastName": "Smith",
                          "dateOfBirth": "1985-11-20",
                          "gender": "male",
                          "email": "john.smith@example.com",
                          "phone": "+15559876543",
                          "address": {
                            "street": "456 Oak Ave",
                            "city": "Otherville",
                            "state": "NY",
                            "zipCode": "10001",
                            "country": "USA"
                          },
                          "insuranceId": "INS-123456789",
                          "bloodGroup": "O-",
                          "emergencyContact": {
                            "name": "Jane Smith",
                            "phone": "+15553456789",
                            "relationship": "Spouse"
                          },
                          "createdAt": "2023-10-26T09:00:00Z",
                          "updatedAt": "2023-10-26T09:00:00Z"
                        }
                      ],
                      "pagination": {
                        "pageSize": 2,
                        "totalCount": 100,
                        "totalPages": 50,
                        "hasNextPage": true,
                        "hasPreviousPage": false,
                        "nextCursor": "eyJpZCI6ImYxZTJkM2M0LWI1YTYtMDk4Ny02NTQzLTIxMGZlZGNiaWE5ODciLCJ0aW1lc3RhbXAiOiIyMDIzLTEwLTI2VDA5OjAwOjAwWiJ9"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/patients/{patientId}": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Get patient details by ID",
        "description": "Retrieves the full details of a specific patient by their unique ID. Requires 'patient:read' (for own record), 'provider:read' (for assigned patients), or 'admin:read' scope. Access is logged for HIPAA audit trail. PHI is encrypted.",
        "operationId": "getPatientById",
        "security": [
          {
            "OAuth2": [
              "patient:read",
              "provider:read",
              "admin:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/patientIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Patient details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Patient"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "timestamp": "2023-10-27T10:10:00Z",
                      "statusCode": "SUCCESS",
                      "message": "Patient details retrieved.",
                      "data": {
                        "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                        "firstName": "Jane",
                        "lastName": "Doe",
                        "dateOfBirth": "1990-05-15",
                        "gender": "female",
                        "email": "jane.doe@example.com",
                        "phone": "+15551234567",
                        "address": {
                          "street": "123 Main St",
                          "city": "Anytown",
                          "state": "CA",
                          "zipCode": "90210",
                          "country": "USA"
                        },
                        "insuranceId": "INS-987654321",
                        "bloodGroup": "A+",
                        "emergencyContact": {
                          "name": "John Doe",
                          "phone": "+15557654321",
                          "relationship": "Spouse"
                        },
                        "createdAt": "2023-10-27T10:00:00Z",
                        "updatedAt": "2023-10-27T10:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Patients"
        ],
        "summary": "Update patient information",
        "description": "Updates the information for an existing patient. Requires 'patient:write' (for own record), 'provider:write' (for assigned patients), or 'admin:write' scope. Access is logged for HIPAA audit trail. PHI is encrypted.",
        "operationId": "updatePatient",
        "security": [
          {
            "OAuth2": [
              "patient:write",
              "provider:write",
              "admin:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/patientIdParam"
          }
        ],
        "requestBody": {
          "description": "Patient information to update. Only provided fields will be changed.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientUpdateRequest"
              },
              "examples": {
                "updatePatient": {
                  "value": {
                    "phone": "+15559998888",
                    "address": {
                      "street": "456 New St",
                      "city": "Newtown"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient information updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Patient"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "timestamp": "2023-10-27T10:15:00Z",
                      "statusCode": "SUCCESS",
                      "message": "Patient updated successfully.",
                      "data": {
                        "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                        "firstName": "Jane",
                        "lastName": "Doe",
                        "dateOfBirth": "1990-05-15",
                        "gender": "female",
                        "email": "jane.doe@example.com",
                        "phone": "+15559998888",
                        "address": {
                          "street": "456 New St",
                          "city": "Newtown",
                          "state": "CA",
                          "zipCode": "90210",
                          "country": "USA"
                        },
                        "insuranceId": "INS-987654321",
                        "bloodGroup": "A+",
                        "emergencyContact": {
                          "name": "John Doe",
                          "phone": "+15557654321",
                          "relationship": "Spouse"
                        },
                        "createdAt": "2023-10-27T10:00:00Z",
                        "updatedAt": "2023-10-27T10:15:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Patients"
        ],
        "summary": "Soft-delete a patient",
        "description": "Marks a patient record as inactive/deleted without permanently removing it from the database (soft-delete). Requires 'admin:write' scope. Access is logged for HIPAA audit trail.",
        "operationId": "softDeletePatient",
        "security": [
          {
            "OAuth2": [
              "admin:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/patientIdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Patient successfully soft-deleted (marked as inactive)."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/patients/{patientId}/records": {
      "post": {
        "tags": [
          "Medical Records"
        ],
        "summary": "Add a new medical record for a patient",
        "description": "Adds a new medical record for the specified patient. Requires 'provider:write' or 'admin:write' scope. All record data is encrypted and access is logged for HIPAA compliance.",
        "operationId": "addMedicalRecord",
        "security": [
          {
            "OAuth2": [
              "provider:write",
              "admin:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/patientIdParam"
          }
        ],
        "requestBody": {
          "description": "Medical record details to add.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MedicalRecordCreateRequest"
              },
              "examples": {
                "newRecord": {
                  "value": {
                    "recordDate": "2023-10-27T11:00:00Z",
                    "recordType": "diagnosis",
                    "providerId": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                    "diagnosis": "Common cold (Acute nasopharyngitis)",
                    "treatment": "Rest, fluids, over-the-counter medication",
                    "notes": "Patient presented with mild fever and congestion. Advised to follow up if symptoms worsen.",
                    "attachments": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Medical record successfully added.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MedicalRecord"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "timestamp": "2023-10-27T11:05:00Z",
                      "statusCode": "SUCCESS",
                      "message": "Medical record added successfully.",
                      "data": {
                        "id": "rec12345-6789-abcd-ef01-234567890abc",
                        "patientId": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                        "recordDate": "2023-10-27T11:00:00Z",
                        "recordType": "diagnosis",
                        "providerId": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                        "diagnosis": "Common cold (Acute nasopharyngitis)",
                        "treatment": "Rest, fluids, over-the-counter medication",
                        "notes": "Patient presented with mild fever and congestion. Advised to follow up if symptoms worsen.",
                        "attachments": [],
                        "createdAt": "2023-10-27T11:05:00Z",
                        "updatedAt": "2023-10-27T11:05:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Medical Records"
        ],
        "summary": "Get patient medical history",
        "description": "Retrieves a paginated list of all medical records for a specific patient. Requires 'patient:read' (for own records), 'provider:read' (for assigned patients), or 'admin:read' scope. Access is logged for HIPAA audit trail. PHI is encrypted.",
        "operationId": "getPatientMedicalHistory",
        "security": [
          {
            "OAuth2": [
              "patient:read",
              "provider:read",
              "admin:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/patientIdParam"
          },
          {
            "$ref": "#/components/parameters/cursorParam"
          },
          {
            "$ref": "#/components/parameters/pageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of medical records for the patient.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MedicalRecord"
                          },
                          "description": "Array of medical record objects."
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/PaginationMetadata"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "timestamp": "2023-10-27T11:10:00Z",
                      "statusCode": "SUCCESS",
                      "message": "Medical history retrieved successfully.",
                      "data": [
                        {
                          "id": "rec12345-6789-abcd-ef01-234567890abc",
                          "patientId": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                          "recordDate": "2023-10-27T11:00:00Z",
                          "recordType": "diagnosis",
                          "providerId": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                          "diagnosis": "Common cold (Acute nasopharyngitis)",
                          "treatment": "Rest, fluids, over-the-counter medication",
                          "notes": "Patient presented with mild fever and congestion. Advised to follow up if symptoms worsen.",
                          "attachments": [],
                          "createdAt": "2023-10-27T11:05:00Z",
                          "updatedAt": "2023-10-27T11:05:00Z"
                        }
                      ],
                      "pagination": {
                        "pageSize": 1,
                        "totalCount": 5,
                        "totalPages": 5,
                        "hasNextPage": true,
                        "hasPreviousPage": false,
                        "nextCursor": "eyJpZCI6InJlYzEyMzQ1LTY3ODktYWJjZC1lZjAxLTIzNDU2Nzg5MGFiYyIsInRpbWVzdGFtcCI6IjIwMjMtMTAtMjdUMTE6MDU6MDBaIn0="
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/patients/{patientId}/records/{recordId}": {
      "get": {
        "tags": [
          "Medical Records"
        ],
        "summary": "Get a specific medical record by ID",
        "description": "Retrieves a specific medical record for a patient by its ID. Requires 'patient:read' (for own records), 'provider:read' (for assigned patients), or 'admin:read' scope. Access is logged for HIPAA audit trail. PHI is encrypted.",
        "operationId": "getMedicalRecordById",
        "security": [
          {
            "OAuth2": [
              "patient:read",
              "provider:read",
              "admin:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/patientIdParam"
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the medical record.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "examples": {
              "recordId": {
                "value": "rec12345-6789-abcd-ef01-234567890abc"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Medical record retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MedicalRecord"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "value": {
                      "timestamp": "2023-10-27T11:15:00Z",
                      "statusCode": "SUCCESS",
                      "message": "Medical record retrieved.",
                      "data": {
                        "id": "rec12345-6789-abcd-ef01-234567890abc",
                        "patientId": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
                        "recordDate": "2023-10-27T11:00:00Z",
                        "recordType": "diagnosis",
                        "providerId": "d1e2f3a4-b5c6-7890-1234-567890abcdef",
                        "diagnosis": "Common cold (Acute nasopharyngitis)",
                        "treatment": "Rest, fluids, over-the-counter medication",
                        "notes": "Patient presented with mild fever and congestion. Advised to follow up if symptoms worsen.",
                        "attachments": [],
                        "createdAt": "2023-10-27T11:05:00Z",
                        "updatedAt": "2023-10-27T11:05:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "