{
  "openapi": "3.0.3",
  "info": {
    "title": "Healthcare Plus API",
    "version": "2.0.0",
    "description": "A comprehensive RESTful API for managing patients, appointments, medical records, and prescriptions in a multi-tenant hospital management system.\nThis API is designed with HIPAA compliance in mind, ensuring secure handling of Protected Health Information (PHI) through robust access controls, audit logging, and encryption at rest and in transit.\nIt supports role-based access (admin, doctor, nurse, receptionist) via OAuth 2.0 and adheres to HL7 FHIR-compatible resource naming where applicable.\nAll PHI access is logged for audit trails, and provider access requires two-factor authentication with a 15-minute session timeout for inactivity.\n\n**Key Features:**\n*   **Patient Management:** Register, retrieve, update, and soft-delete patient information.\n*   **Appointment Scheduling:** Schedule, list, reschedule, and cancel appointments.\n*   **Medical Records:** Add and retrieve patient medical history and specific records.\n*   **Prescription Management:** Create, view, and update prescription statuses.\n\n**Compliance & Security:**\n*   HIPAA compliant (PHI data encryption at rest and in transit).\n*   HL7 FHIR compatible resource naming.\n*   Audit logging on all patient data access.\n*   Role-based access: admin, doctor, nurse, receptionist.\n\n**Non-Functional Requirements:**\n*   High availability and scalability.\n*   Low latency for critical operations.\n*   Comprehensive audit logging.\n*   Multi-tenant architecture."
  },
  "servers": [
    {
      "url": "https://api.healthcareplus.com/v2",
      "description": "Production server"
    },
    {
      "url": "https://dev.healthcareplus.com/v2",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Patients",
      "description": "Operations related to patient management."
    },
    {
      "name": "Appointments",
      "description": "Operations related to appointment scheduling."
    },
    {
      "name": "Medical Records",
      "description": "Operations related to patient medical history."
    },
    {
      "name": "Prescriptions",
      "description": "Operations related to prescription management."
    }
  ],
  "paths": {
    "/patients": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Retrieve a list of patients",
        "description": "Returns a paginated list of all registered patients. Accessible by admin, doctor, and nurse roles.",
        "operationId": "listPatients",
        "security": [
          {
            "OAuth2": [
              "patient:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of patients to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 10
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of patients to skip before starting to collect the result set.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            },
            "example": 0
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term for patient name or ID.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "John Doe"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of patients.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientList"
                },
                "examples": {
                  "patientListExample": {
                    "value": {
                      "data": [
                        {
                          "patientId": "pat_12345",
                          "firstName": "John",
                          "lastName": "Doe",
                          "dateOfBirth": "1990-01-15",
                          "gender": "Male",
                          "contactNumber": "+15551234567",
                          "email": "john.doe@example.com",
                          "address": "123 Main St, Anytown, USA",
                          "createdAt": "2023-01-01T10:00:00Z",
                          "updatedAt": "2023-01-01T10:00:00Z"
                        },
                        {
                          "patientId": "pat_67890",
                          "firstName": "Jane",
                          "lastName": "Smith",
                          "dateOfBirth": "1985-05-20",
                          "gender": "Female",
                          "contactNumber": "+15559876543",
                          "email": "jane.smith@example.com",
                          "address": "456 Oak Ave, Otherville, USA",
                          "createdAt": "2023-01-05T11:30:00Z",
                          "updatedAt": "2023-01-05T11:30:00Z"
                        }
                      ],
                      "pagination": {
                        "limit": 20,
                        "offset": 0,
                        "total": 2
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Patients"
        ],
        "summary": "Create a new patient record",
        "description": "Registers a new patient in the system. Accessible by admin and receptionist roles.",
        "operationId": "createPatient",
        "security": [
          {
            "OAuth2": [
              "patient:write"
            ]
          }
        ],
        "requestBody": {
          "description": "Patient object to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPatient"
              },
              "examples": {
                "newPatientExample": {
                  "value": {
                    "firstName": "Alice",
                    "lastName": "Johnson",
                    "dateOfBirth": "1992-11-01",
                    "gender": "Female",
                    "contactNumber": "+15551112222",
                    "email": "alice.johnson@example.com",
                    "address": "789 Pine Ln, Villagetown, USA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Patient created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                },
                "examples": {
                  "createdPatientExample": {
                    "value": {
                      "patientId": "pat_abcde",
                      "firstName": "Alice",
                      "lastName": "Johnson",
                      "dateOfBirth": "1992-11-01",
                      "gender": "Female",
                      "contactNumber": "+15551112222",
                      "email": "alice.johnson@example.com",
                      "address": "789 Pine Ln, Villagetown, USA",
                      "createdAt": "2023-03-10T14:00:00Z",
                      "updatedAt": "2023-03-10T14:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/patients/{patientId}": {
      "get": {
        "tags": [
          "Patients"
        ],
        "summary": "Retrieve a patient by ID",
        "description": "Returns a single patient record by their unique ID. Accessible by admin, doctor, nurse, and the patient themselves.",
        "operationId": "getPatientById",
        "security": [
          {
            "OAuth2": [
              "patient:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Unique identifier of the patient.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^pat_[a-zA-Z0-9]{5,}$"
            },
            "example": "pat_12345"
          }
        ],
        "responses": {
          "200": {
            "description": "Patient data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                },
                "examples": {
                  "patientExample": {
                    "value": {
                      "patientId": "pat_12345",
                      "firstName": "John",
                      "lastName": "Doe",
                      "dateOfBirth": "1990-01-15",
                      "gender": "Male",
                      "contactNumber": "+15551234567",
                      "email": "john.doe@example.com",
                      "address": "123 Main St, Anytown, USA",
                      "createdAt": "2023-01-01T10:00:00Z",
                      "updatedAt": "2023-01-01T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Patients"
        ],
        "summary": "Update an existing patient record",
        "description": "Updates the details of an existing patient. Accessible by admin and receptionist roles.",
        "operationId": "updatePatient",
        "security": [
          {
            "OAuth2": [
              "patient:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Unique identifier of the patient.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^pat_[a-zA-Z0-9]{5,}$"
            },
            "example": "pat_12345"
          }
        ],
        "requestBody": {
          "description": "Patient object with updated fields.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePatient"
              },
              "examples": {
                "updatePatientExample": {
                  "value": {
                    "contactNumber": "+15559998888",
                    "address": "New Address, City, State, Zip"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                },
                "examples": {
                  "updatedPatientExample": {
                    "value": {
                      "patientId": "pat_12345",
                      "firstName": "John",
                      "lastName": "Doe",
                      "dateOfBirth": "1990-01-15",
                      "gender": "Male",
                      "contactNumber": "+15559998888",
                      "email": "john.doe@example.com",
                      "address": "New Address, City, State, Zip",
                      "createdAt": "2023-01-01T10:00:00Z",
                      "updatedAt": "2023-03-15T15:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Patients"
        ],
        "summary": "Soft-delete a patient record",
        "description": "Marks a patient record as inactive without permanently deleting it. Accessible by admin roles.",
        "operationId": "softDeletePatient",
        "security": [
          {
            "OAuth2": [
              "patient:delete"
            ]
          }
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Unique identifier of the patient.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^pat_[a-zA-Z0-9]{5,}$"
            },
            "example": "pat_12345"
          }
        ],
        "responses": {
          "204": {
            "description": "Patient soft-deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/patients/{patientId}/appointments": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Retrieve appointments for a specific patient",
        "description": "Returns a paginated list of appointments for a given patient. Accessible by admin, doctor, nurse, and the patient themselves.",
        "operationId": "listPatientAppointments",
        "security": [
          {
            "OAuth2": [
              "appointment:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Unique identifier of the patient.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^pat_[a-zA-Z0-9]{5,}$"
            },
            "example": "pat_12345"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of appointments to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 10
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of appointments to skip.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 0
            },
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of appointments for the patient.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentList"
                },
                "examples": {
                  "patientAppointmentListExample": {
                    "value": {
                      "data": [
                        {
                          "appointmentId": "app_001",
                          "patientId": "pat_12345",
                          "doctorId": "doc_A",
                          "appointmentDate": "2023-04-01T10:00:00Z",
                          "reason": "Routine check-up",
                          "status": "Scheduled",
                          "createdAt": "2023-03-20T09:00:00Z",
                          "updatedAt": "2023-03-20T09:00:00Z"
                        }
                      ],
                      "pagination": {
                        "limit": 20,
                        "offset": 0,
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Schedule a new appointment for a patient",
        "description": "Creates a new appointment for the specified patient. Accessible by admin and receptionist roles.",
        "operationId": "schedulePatientAppointment",
        "security": [
          {
            "OAuth2": [
              "appointment:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Unique identifier of the patient.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^pat_[a-zA-Z0-9]{5,}$"
            },
            "example": "pat_12345"
          }
        ],
        "requestBody": {
          "description": "Appointment details to be scheduled.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAppointment"
              },
              "examples": {
                "newAppointmentExample": {
                  "value": {
                    "doctorId": "doc_A",
                    "appointmentDate": "2023-04-15T14:30:00Z",
                    "reason": "Follow-up visit"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Appointment scheduled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                },
                "examples": {
                  "scheduledAppointmentExample": {
                    "value": {
                      "appointmentId": "app_002",
                      "patientId": "pat_12345",
                      "doctorId": "doc_A",
                      "appointmentDate": "2023-04-15T14:30:00Z",
                      "reason": "Follow-up visit",
                      "status": "Scheduled",
                      "createdAt": "2023-04-01T10:00:00Z",
                      "updatedAt": "2023-04-01T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/appointments/{appointmentId}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Retrieve an appointment by ID",
        "description": "Returns a single appointment record by its unique ID. Accessible by admin, doctor, nurse, receptionist, and the patient themselves.",
        "operationId": "getAppointmentById",
        "security": [
          {
            "OAuth2": [
              "appointment:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "Unique identifier of the appointment.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[a-zA-Z0-9]{3,}$"
            },
            "example": "app_001"
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                },
                "examples": {
                  "appointmentExample": {
                    "value": {
                      "appointmentId": "app_001",
                      "patientId": "pat_12345",
                      "doctorId": "doc_A",
                      "appointmentDate": "2023-04-01T10:00:00Z",
                      "reason": "Routine check-up",
                      "status": "Scheduled",
                      "createdAt": "2023-03-20T09:00:00Z",
                      "updatedAt": "2023-03-20T09:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Appointments"
        ],
        "summary": "Update or reschedule an appointment",
        "description": "Modifies an existing appointment's details, such as date, time, or reason. Accessible by admin and receptionist roles.",
        "operationId": "updateAppointment",
        "security": [
          {
            "OAuth2": [
              "appointment:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "Unique identifier of the appointment.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[a-zA-Z0-9]{3,}$"
            },
            "example": "app_001"
          }
        ],
        "requestBody": {
          "description": "Appointment object with updated fields.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppointment"
              },
              "examples": {
                "updateAppointmentExample": {
                  "value": {
                    "appointmentDate": "2023-04-05T11:00:00Z",
                    "reason": "Routine check-up (rescheduled)",
                    "status": "Rescheduled"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                },
                "examples": {
                  "updatedAppointmentExample": {
                    "value": {
                      "appointmentId": "app_001",
                      "patientId": "pat_12345",
                      "doctorId": "doc_A",
                      "appointmentDate": "2023-04-05T11:00:00Z",
                      "reason": "Routine check-up (rescheduled)",
                      "status": "Rescheduled",
                      "createdAt": "2023-03-20T09:00:00Z",
                      "updatedAt": "2023-03-25T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Appointments"
        ],
        "summary": "Cancel an appointment",
        "description": "Cancels an existing appointment. Accessible by admin and receptionist roles.",
        "operationId": "cancelAppointment",
        "security": [
          {
            "OAuth2": [
              "appointment:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "description": "Unique identifier of the appointment.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^app_[a-zA-Z0-9]{3,}$"
            },