openapi: 3.0.3
info:
  title: Banking & Finance API
  version: 1.0.0
  description: |
    This API provides a comprehensive suite of endpoints for managing banking and finance operations,
    including account management, transaction processing, card services, and customer identity verification.
    It adheres to strict compliance requirements such as PCI-DSS, PSD2/Open Banking, and KYC/AML.

    **Compliance Requirements:**
    *   **PCI-DSS:** Full card numbers (PAN) are never exposed. Masking (last 4 digits) is used in responses.
    *   **PSD2/Open Banking:** Includes consent management for third-party access.
    *   **KYC/AML:** Customer onboarding incorporates identity verification steps.
    *   **Monetary Amounts:** All monetary amounts are represented as integer minor units (e.g., cents) or explicit decimal values with an associated ISO 4217 `currencyCode`.

    **Security:**
    *   Utilizes OAuth 2.0 with scope-based access for granular permissions.
    *   Strong Customer Authentication (SCA) is enforced for payment initiation.
    *   Rate limiting is applied to sensitive endpoints to prevent abuse.
    *   Idempotency keys are supported for POST operations to ensure reliable transaction processing.
servers:
  - url: https://api.bankingfinance.com/api/v1
    description: Production server
  - url: https://sandbox.bankingfinance.com/api/v1
    description: Sandbox server
tags:
  - name: Health
    description: API health check operations
  - name: Accounts
    description: Operations related to customer bank accounts
  - name: Transactions
    description: Managing financial transactions
  - name: Cards
    description: Credit and debit card management
  - name: Payments
    description: Initiating and managing payments
  - name: Customers
    description: Customer profile and KYC management
  - name: Consent
    description: PSD2/Open Banking consent management
paths:
  /health:
    get:
      summary: Check API Health Status
      operationId: getHealthStatus
      tags:
        - Health
      description: Retrieves the current health status of the API.
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatusResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts:
    get:
      summary: List Customer Accounts
      operationId: listAccounts
      tags:
        - Accounts
      description: Retrieves a paginated list of accounts for the authenticated customer.
      security:
        - OAuth2Auth:
            - accounts:read
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of accounts.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountRef}:
    get:
      summary: Get Account Details
      operationId: getAccountDetails
      tags:
        - Accounts
      description: Retrieves detailed information for a specific account belonging to the authenticated customer.
      security:
        - OAuth2Auth:
            - accounts:read
      parameters:
        - in: path
          name: accountRef
          schema:
            type: string
            format: uuid
          required: true
          description: Unique identifier for the account.
          example: 8a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
      responses:
        '200':
          description: Account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Account Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountRef}/transactions:
    get:
      summary: List Account Transactions
      operationId: listAccountTransactions
      tags:
        - Accounts
        - Transactions
      description: Retrieves a paginated list of transactions for a specific account.
      security:
        - OAuth2Auth:
            - transactions:read
      parameters:
        - in: path
          name: accountRef
          schema:
            type: string
            format: uuid
          required: true
          description: Unique identifier for the account.
          example: 8a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - in: query
          name: startDate
          schema:
            type: string
            format: date
          description: Filter transactions from this date (inclusive).
          example: '2023-01-01'
        - in: query
          name: endDate
          schema:
            type: string
            format: date
          description: Filter transactions up to this date (inclusive).
          example: '2023-01-31'
        - in: query
          name: transactionType
          schema:
            type: string
            enum: [DEBIT, CREDIT, TRANSFER, PAYMENT]
          description: Filter by transaction type.
          example: DEBIT
      responses:
        '200':
          description: A paginated list of transactions.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Account Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /transactions:
    post:
      summary: Initiate a Transaction
      operationId: initiateTransaction
      tags:
        - Transactions
      description: Initiates a new financial transaction between accounts. Requires SCA for certain transaction types or amounts.
      security:
        - OAuth2Auth:
            - transactions:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionInitiationRequest'
      responses:
        '201':
          description: Transaction initiated successfully.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Bad Request (e.g., insufficient funds, invalid accounts, SCA required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden (e.g., insufficient permissions, SCA failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict (e.g., duplicate transaction due to idempotency key)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /transactions/{transactionId}:
    get:
      summary: Get Transaction Status
      operationId: getTransactionStatus
      tags:
        - Transactions
      description: Retrieves the status and details of a specific transaction.
      security:
        - OAuth2Auth:
            - transactions:read
      parameters:
        - in: path
          name: transactionId
          schema:
            type: string
            format: uuid
          required: true
          description: Unique identifier for the transaction.
          example: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
      responses:
        '200':
          description: Transaction details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Transaction Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments:
    post:
      summary: Initiate a Payment
      operationId: initiatePayment
      tags:
        - Payments
      description: Initiates a payment from a source account to a destination. Requires Strong Customer Authentication (SCA).
      security:
        - OAuth2Auth:
            - payments:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInitiationRequest'
      responses:
        '201':
          description: Payment initiated successfully.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Bad Request (e.g., invalid payment details, SCA challenge failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden (e.g., SCA not completed, insufficient permissions)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict (e.g., duplicate payment due to idempotency key)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /cards:
    get:
      summary: List Customer Cards
      operationId: listCards
      tags:
        - Cards
      description: Retrieves a paginated list of cards (credit/debit) associated with the authenticated customer.
      security:
        - OAuth2Auth:
            - cards:read
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: A paginated list of cards.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /cards/{cardId}/block:
    post:
      summary: Block a Card
      operationId: blockCard
      tags:
        - Cards
      description: Blocks a specific card due to loss, theft, or other reasons.
      security:
        - OAuth2Auth:
            - cards:write
      parameters:
        - in: path
          name: cardId
          schema:
            type: string
            format: uuid
          required: true
          description: Unique identifier for the card to be blocked.
          example: 9f8e7d6c-5b4a-3f2e-1d0c-9b8a7f6e5d4c
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockCardRequest'
      responses:
        '200':
          description: Card blocked successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardResponse'
        '400':
          description: Bad Request (e.g., invalid reason, card already blocked)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Card Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /customers/{customerRef}:
    get:
      summary: Get Customer Profile
      operationId: getCustomerProfile
      tags:
        - Customers
      description: Retrieves the profile details and KYC status for a specific customer.
      security:
        - OAuth2Auth:
            - customers:read
      parameters:
        - in: path
          name: customerRef
          schema:
            type: string
            format: uuid
          required: true
          description: Unique identifier for the customer.
          example: 11223344-5566-7788-99aa-bbccddeeff00
      responses:
        '200':
          description: Customer profile details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /consent:
    post:
      summary: Grant Consent
      operationId: grantConsent
      tags:
        - Consent
      description: Grants consent for a third-party application to access specific customer data or perform actions.
      security:
        - OAuth2Auth:
            - consent:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentRequest'
      responses:
        '201':
          description: Consent granted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentResponse'
        '400':
          description: Bad Request (e.g., invalid scopes, customer not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden (e.g., insufficient permissions to grant consent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    HealthStatusResponse:
      type: object
      description: Response schema for API health status.
      properties:
        status:
          type: string
          description: Current health status of the API.
          enum: [UP, DOWN, DEGRADED]
          example: UP
        eventTimestamp:  # mapped from timestamp
          type: string
          format: date-time
          description: Timestamp when the health check was performed.
          example: '2023-10-27T10:00:00Z'
      required:
        - status
        - eventTimestamp
    ErrorResponse:
      type: object
      description: Standard error response format.
      properties:
        code:
          type: string
          description: A unique error code for programmatic handling.
          example: INVALID_INPUT
        message:
          type: string
          description: A human-readable explanation of the error.
          example: The provided account ID is not valid.
        details:
          type: array
          description: Optional array of specific error details, e.g., validation errors.
          items:
            type: object
            properties:
              field:
                type: string
                description: The field that caused the error.
                example: amount
              issue:
                type: string
                description: Description of the issue.
                example: must be greater than zero
      required:
        - code
        - message
    MonetaryAmount:
      type: object
      description: Represents a monetary value with its currency.
      properties:
        totalAmount:  # mapped from value
          type: number
          format: double
          description: The monetary amount. Can be an integer for minor units (e.g., cents) or a decimal.
          example: 123.45
        currencyCode:
          type: string
          description: ISO 4217 currency code (e.g., USD, EUR).
          pattern: '^[A-Z]{3}$'
          example: USD
      required:
        - totalAmount
        - currencyCode
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        limit:
          type: integer
          format: int32
          description: The maximum number of items returned in the current page.
          minimum: 1
          example: 10
        offset:
          type: integer
          format: int32
          description: The number of items skipped before the current page.
          minimum: 0
          example: 0
        total:
          type: integer
          format: int32
          description: The total number of items available across all pages.
          minimum: 0
          example: 100
      required:
        - limit
        - offset
        - total
    Account:
      type: object
      description: Details of a customer's bank account.
      properties:
        accountId:
          type: string
          format: uuid
          description: Unique identifier for the account.
          example: 8a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
        accountNumber:
          type: string
          description: Masked account number (e.g., ending in last 4 digits).
          example: '**** **** **** 1234'
        accountType:
          type: string
          enum: [CHECKING, SAVINGS, CREDIT_CARD, LOAN]
          description: Type of the account.
          example: CHECKING
        balanceAmount:  # mapped from balance
          $ref: '#/components/schemas/MonetaryAmount'
          description: Current balance of the account.
        status:
          type: string
          enum: [ACTIVE, INACTIVE, CLOSED, FROZEN]
          description: Current status of the account.
          example: ACTIVE
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the account was created.
          example: '2022-01-15T09:30:00Z'
      required:
        - accountId
        - accountNumber
        - accountType
        - balanceAmount
        - status
        - createdAt
    AccountListResponse:
      type: object
      description: Paginated list of customer accounts.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
          description: List of accounts.
        pagination:
          $ref: '#/components/schemas/Pagination'
          description: Pagination metadata.
      required:
        - data
        - pagination
    Transaction:
      type: object
      description: Details of a financial transaction.
      properties:
        transactionId:
          type: string
          format: uuid
          description: Unique identifier for the transaction.
          example: 1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
        accountId:
          type: string
          format: uuid
          description: The account ID associated with this transaction.
          example: 8a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
        type:
          type: string
          enum: [DEBIT, CREDIT, TRANSFER, PAYMENT, FEE]
          description: Type of transaction.
          example: DEBIT
        totalAmount:  # mapped from amount
          $ref: '#/components/schemas/MonetaryAmount'
          description: The amount of the transaction.
        description:
          type: string
          description: A brief description of the transaction.
          example: Coffee shop purchase
        status:
          type: string
          enum: [PENDING, COMPLETED, FAILED, CANCELLED]
          description: Current status of the transaction.
          example: COMPLETED
        eventTimestamp:  # mapped from timestamp
          type: string
          format: date-time
          description: Timestamp when the transaction occurred.
          example: '2023-10-26T14:15:30Z'
        merchantName:
          type: string
          description: Name of the merchant for debit/credit transactions.
          example: Starbucks
        referenceId:
          type: string
          description: Optional external reference ID for the transaction.
          example: 'REF123456789'
      required:
        - transactionId
        - accountId
        - type
        - totalAmount
        - description
        - status
        - eventTimestamp
    TransactionListResponse:
      type: object
      description: Paginated list of transactions.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
          description: List of transactions.
        pagination:
          $ref: '#/components/schemas/Pagination'
          description: Pagination metadata.
      required:
        - data
        - pagination
    TransactionInitiationRequest:
      type: object
      description: Request body for initiating a new transaction.
      properties:
        sourceAccountId:
          type: string
          format: uuid
          description: The ID of the account from which funds will be debited.
          example: 8a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d
        destinationAccountId:
          type: string
          format: uuid
          description: The ID of the account to which funds will be credited.
          example: 9f8e7d6c-5b4a-3f2e-1d0c-9b8a7f6e5d4c
        totalAmount:  # mapped from amount
          $ref: '#/components/schemas/MonetaryAmount'
          description: The amount to be transferred.
        description:
          type: string
          description: A brief description for the transaction.
          example: Monthly rent payment
        transactionType:
          type: string
          enum: [TRANSFER, PAYMENT]
          description: Type of transaction to initiate.
          example: TRANSFER
      required:
        - sourceAccountId
        - destinationAccountId
        - totalAmount
        - description
        - transactionType
    TransactionResponse:
      type: object
      description: Response schema for a single transaction, including its current status.
      properties:
        transaction:
          $ref: '#/components/schemas/Transaction'