{
  "openapi": "3.0.3",
  "info": {
    "title": "Banking Management API",
    "description": "A comprehensive API for banking management applications.\n\n## Features\n* User authentication & authorization (JWT)\n* Account management (checking, savings, credit)\n* Fund transfers (internal & external)\n* Bill payments & scheduled payments\n* Transaction history & statements\n* Beneficiary management\n* Card management\n* Loan applications & tracking\n\n## Authentication\nThis API uses JWT Bearer tokens. Obtain a token via `/auth/login`.\n",
    "version": "1.0.2",
    "contact": {
      "name": "API Support",
      "email": "support@bankingapp.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.bankingapp.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.bankingapp.com/v1",
      "description": "Sandbox server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and authorization endpoints"
    },
    {
      "name": "Accounts",
      "description": "Account management operations"
    },
    {
      "name": "Transactions",
      "description": "Transaction history and details"
    },
    {
      "name": "Transfers",
      "description": "Fund transfer operations"
    },
    {
      "name": "Payments",
      "description": "Bill payments and scheduled payments"
    },
    {
      "name": "Beneficiaries",
      "description": "Beneficiary management"
    },
    {
      "name": "Cards",
      "description": "Debit/Credit card management"
    },
    {
      "name": "Loans",
      "description": "Loan applications and management"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /auth/login"
      },
      "jwtScheme": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "INVALID_REQUEST",
            "description": "A unique error code for the type of error."
          },
          "message": {
            "type": "string",
            "example": "Invalid request parameters",
            "description": "A human-readable explanation of the error."
          },
          "details": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional details about the error, if available."
          }
        },
        "required": [
          "code",
          "message"
        ],
        "description": "Standard error response format."
      },
      "Money": {
        "type": "object",
        "properties": {
          "totalAmount": {
            "type": "number",
            "format": "decimal",
            "example": 1500.5,
            "description": "The monetary amount."
          },
          "currencyCode": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "example": "USD",
            "description": "ISO 4217 currency code (e.g., USD, EUR)."
          }
        },
        "required": [
          "totalAmount",
          "currencyCode"
        ],
        "description": "Represents a monetary value with its currency."
      },
      "PagedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "The array of items for the current page."
          },
          "page": {
            "type": "integer",
            "example": 1,
            "description": "The current page number (1-indexed)."
          },
          "size": {
            "type": "integer",
            "example": 20,
            "description": "The number of items per page."
          },
          "total": {
            "type": "integer",
            "example": 150,
            "description": "The total number of items across all pages."
          },
          "totalPages": {
            "type": "integer",
            "example": 8,
            "description": "The total number of pages."
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "A cursor to retrieve the next page of results, if available."
          }
        },
        "description": "Standard structure for paginated list responses."
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "john.doe",
            "description": "User's unique username or email."
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "SecurePass123!",
            "description": "User's password."
          }
        },
        "required": [
          "username",
          "password"
        ],
        "description": "Request body for user login."
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "JWT access token for authenticated requests."
          },
          "refreshToken": {
            "type": "string",
            "description": "JWT refresh token to obtain new access tokens."
          },
          "tokenType": {
            "type": "string",
            "example": "Bearer",
            "description": "Type of the token."
          },
          "expiresIn": {
            "type": "integer",
            "description": "Access token expiration time in seconds.",
            "example": 3600
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "tokenType",
          "expiresIn"
        ],
        "description": "Response body for successful user login or token refresh."
      },
      "RefreshTokenRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "description": "The refresh token obtained during login."
          }
        },
        "required": [
          "refreshToken"
        ],
        "description": "Request body for refreshing an access token."
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000",
            "description": "Unique identifier for the account."
          },
          "accountNumber": {
            "type": "string",
            "example": "1234567890",
            "description": "The masked or full account number."
          },
          "accountType": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVINGS",
              "CREDIT",
              "BUSINESS"
            ],
            "description": "Type of the account."
          },
          "balanceAmount": {
            "$ref": "#/components/schemas/Money",
            "description": "Current balance of the account."
          },
          "availableBalance": {
            "$ref": "#/components/schemas/Money",
            "description": "Available balance, considering pending transactions."
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "FROZEN",
              "CLOSED"
            ],
            "description": "Current status of the account."
          },
          "openedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the account was opened."
          },
          "customerId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the customer who owns this account."
          },
          "interestRate": {
            "type": "number",
            "format": "decimal",
            "description": "Annual interest rate in percentage (for savings/credit accounts).",
            "example": 3.5
          },
          "currencyCode": {
            "type": "string",
            "example": "USD",
            "description": "The currency code of the account."
          }
        },
        "required": [
          "id",
          "accountNumber",
          "accountType",
          "balanceAmount",
          "status",
          "openedAt",
          "customerId",
          "currencyCode"
        ],
        "description": "Represents a bank account."
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "accountType": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVINGS",
              "BUSINESS"
            ],
            "example": "CHECKING",
            "description": "The desired type of account to create."
          },
          "initialDeposit": {
            "$ref": "#/components/schemas/Money",
            "description": "Optional initial deposit amount for the new account."
          },
          "currencyCode": {
            "type": "string",
            "example": "USD",
            "description": "The currency for the new account."
          }
        },
        "required": [
          "accountType",
          "currencyCode"
        ],
        "description": "Request body for creating a new bank account."
      },
      "AccountStatement": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the account for which the statement is generated."
          },
          "periodStart": {
            "type": "string",
            "format": "date",
            "description": "The start date of the statement period."
          },
          "periodEnd": {
            "type": "string",
            "format": "date",
            "description": "The end date of the statement period."
          },
          "openingBalance": {
            "$ref": "#/components/schemas/Money",
            "description": "The account balance at the beginning of the statement period."
          },
          "closingBalance": {
            "$ref": "#/components/schemas/Money",
            "description": "The account balance at the end of the statement period."
          },
          "totalCredits": {
            "$ref": "#/components/schemas/Money",
            "description": "Total amount credited to the account during the period."
          },
          "totalDebits": {
            "$ref": "#/components/schemas/Money",
            "description": "Total amount debited from the account during the period."
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            },
            "description": "List of transactions within the statement period."
          }
        },
        "required": [
          "accountId",
          "periodStart",
          "periodEnd",
          "openingBalance",
          "closingBalance",
          "totalCredits",
          "totalDebits",
          "transactions"
        ],
        "description": "Represents an account statement for a specific period."
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the transaction."
          },
          "transactionId": {
            "type": "string",
            "example": "TXN123456789",
            "description": "A human-readable transaction reference ID."
          },
          "type": {
            "type": "string",
            "enum": [
              "CREDIT",
              "DEBIT",
              "TRANSFER",
              "PAYMENT",
              "FEE",
              "INTEREST"
            ],
            "description": "Type of the transaction."
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money involved in the transaction."
          },
          "description": {
            "type": "string",
            "example": "Salary deposit",
            "description": "Description of the transaction."
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED",
              "REVERSED"
            ],
            "description": "Current status of the transaction."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the transaction was initiated."
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the transaction was completed."
          },
          "reference": {
            "type": "string",
            "example": "REF12345",
            "nullable": true,
            "description": "External reference for the transaction."
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the account associated with this transaction."
          },
          "counterparty": {
            "type": "string",
            "description": "Other party involved in transaction (e.g., merchant, beneficiary name).",
            "example": "Acme Corp"
          }
        },
        "required": [
          "id",
          "transactionId",
          "type",
          "totalAmount",
          "description",
          "status",
          "createdAt",
          "accountId"
        ],
        "description": "Represents a financial transaction."
      },
      "TransferRequest": {
        "type": "object",
        "properties": {
          "fromAccountId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the source account for the transfer."
          },
          "toAccountId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the destination account for the transfer."
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount to be transferred."
          },
          "description": {
            "type": "string",
            "maxLength": 200,
            "example": "Monthly rent",
            "description": "A brief description for the transfer."
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "description": "If provided, schedules the transfer for a future date/time."
          }
        },
        "required": [
          "fromAccountId",
          "toAccountId",
          "totalAmount"
        ],
        "description": "Request body for an internal fund transfer between accounts."
      },
      "ExternalTransferRequest": {
        "type": "object",
        "properties": {
          "fromAccountId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the source account for the transfer."
          },
          "beneficiaryId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the registered beneficiary for the external transfer."
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount to be transferred."
          },
          "description": {
            "type": "string",
            "maxLength": 200,
            "example": "Payment for services",
            "description": "A brief description for the transfer."
          }
        },
        "required": [
          "fromAccountId",
          "beneficiaryId",
          "totalAmount"
        ],
        "description": "Request body for an external fund transfer to a beneficiary."
      },
      "TransferResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "The ID of the created transaction for the transfer."
          },
          "status": {
            "type": "string",
            "enum": [
              "PROCESSING",
              "COMPLETED",
              "SCHEDULED",
              "FAILED"
            ],
            "description": "Status of the transfer operation."
          },
          "message": {
            "type": "string",
            "description": "A descriptive message about the transfer status."
          },
          "scheduledDate": {
            "type": "string",
            "format": "date-time",
            "description": "Only if transfer was scheduled for a future date/time."
          }
        },
        "required": [
          "transactionId",
          "status",
          "message"
        ],
        "description": "Response body for fund transfer operations."
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the beneficiary."
          },
          "name": {
            "type": "string",
            "example": "John Smith",
            "description": "Full name of the beneficiary."
          },
          "nickname": {
            "type": "string",
            "example": "John",
            "nullable": true,
            "description": "A short nickname for the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "example": "9876543210",
            "description": "Beneficiary's account number."
          },
          "bankCode": {
            "type": "string",
            "example": "BANKUS33",
            "description": "SWIFT/BIC code of the beneficiary's bank."
          },
          "bankName": {
            "type": "string",
            "example": "Bank of America",
            "nullable": true,
            "description": "Name of the beneficiary's bank."
          },
          "accountType": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVINGS"
            ],
            "nullable": true,
            "description": "Type of the beneficiary's account."
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email address of the beneficiary."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the beneficiary was added."
          }
        },
        "required": [
          "id",
          "name",
          "accountNumber",
          "bankCode",
          "createdAt"
        ],
        "description": "Represents a registered beneficiary for external transfers."
      },
      "AddBeneficiaryRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the beneficiary."
          },
          "nickname": {
            "type": "string",
            "nullable": true,
            "description": "A short nickname for the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "Beneficiary's account number."
          },
          "bankCode": {
            "type": "string",
            "description": "SWIFT/BIC code of the beneficiary's bank."
          },
          "bankName": {
            "type": "string",
            "nullable": true,
            "description": "Name of the beneficiary's bank."
          },
          "accountType": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVINGS"
            ],
            "nullable": true,
            "description": "Type of the beneficiary's account."
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email address of the beneficiary."
          }
        },
        "required": [
          "name",
          "accountNumber",
          "bankCode"
        ],
        "description": "Request body for adding a new beneficiary."
      },
      "UpdateBeneficiaryRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the beneficiary."
          },
          "nickname": {
            "type": "string",
            "nullable": true,
            "description": "A short nickname for the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "Beneficiary's account number."
          },
          "bankCode": {
            "type": "string",
            "description": "SWIFT/BIC code of the beneficiary's bank."
          },
          "bankName": {
            "type": "string",
            "nullable": true,
            "description": "Name of the beneficiary's bank."
          },
          "accountType": {
            "type": "string",
            "enum": [
              "CHECKING",
              "SAVINGS"
            ],
            "nullable": true,
            "description": "Type of the beneficiary's account."
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Email address of the beneficiary."
          }
        },
        "description": "Request body for updating an existing beneficiary."
      },
      "PaymentRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the account from which the payment will be made."
          },
          "payeeId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the registered payee for this payment."
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount to be paid."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "description": "The date by which the payment is due."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "A brief description for the payment."
          },
          "recurrence": {
            "type": "string",
            "enum": [
              "ONE_TIME",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "default": "ONE_TIME",
            "description": "Frequency of the payment if it's recurring."
          }
        },
        "required": [
          "accountId",
          "payeeId",
          "totalAmount",
          "dueDate"
        ],
        "description": "Request body for creating a new bill payment."
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the payment."
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the account from which the payment was made."
          },
          "payeeId": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the registered payee for this payment."
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount paid."
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "description": "The date by which the payment was due."
          },
          "paymentDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The actual date and time the payment was processed."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "A brief description for the payment."
          },
          "recurrence": {
            "type": "string",
            "enum": [
              "ONE_TIME",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "description": "Frequency of the payment if it's recurring."
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED",
              "CANCELLED",
              "SCHEDULED"
            ],
            "description": "Current status of the payment."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the payment was created/scheduled."
          }
        },
        "required": [
          "id",
          "accountId",
          "payeeId",
          "totalAmount",
          "dueDate",
          "recurrence",
          "status",
          "createdAt"
        ],
        "description": "Represents a bill payment."
      },
      "Payee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the payee."
          },
          "name": {
            "type": "string",
            "description": "Name of the payee (e.g., utility company)."
          },
          "category": {
            "type": "string",
            "enum": [
              "UTILITIES",
              "RENT",
              "INSURANCE",
              "TAXES",
              "OTHER"
            ],
            "nullable": true,
            "description": "Category of the payee."
          },
          "accountNumber": {
            "type": "string",
            "description": "Payee's account number or biller ID."
          },
          "bankCode": {
            "type": "string",
            "nullable": true,
            "description": "Bank code for the payee's bank, if applicable."
          },
          "isRecurring": {
            "type": "boolean",
            "description": "Indicates if payments to this payee are typically recurring."
          }
        },
        "required": [
          "id",
          "name",
          "accountNumber",
          "isRecurring"
        ],
        "description": "Represents a registered payee for bill payments."
      },
      "Card": {
        "type": "object",