openapi: 3.0.3
info:
  title: Banking API
  version: 1.0.0
  description: >
    This API provides a comprehensive set of endpoints for managing banking operations,
    including accounts, transactions, payments, cards, and customer information.
    It adheres to strict security and compliance standards such as PCI-DSS, PSD2, and KYC/AML.
servers:
  - url: https://api.banking.com/api/v1
    description: Production Banking API server
  - url: https://sandbox.banking.com/api/v1
    description: Sandbox Banking API server
security:
  - BearerAuth:
      - accounts:read
      - accounts:write
      - transactions:read
      - transactions:write
      - payments:write
      - cards:read
      - cards:write
      - customers:read
      - customers:write
      - consents:manage
tags:
  - name: Accounts
    description: Operations related to customer bank accounts.
  - name: Transactions
    description: Managing financial transactions.
  - name: Payments
    description: Initiating and managing payments.
  - name: Cards
    description: Operations for customer debit/credit cards.
  - name: Customers
    description: Customer onboarding and profile management.
  - name: Consents
    description: PSD2/Open Banking consent management.
  - name: System
    description: System health and status checks.
paths:
  /health:
    get:
      tags:
        - System
      summary: Check API health status
      operationId: getHealthStatus
      description: >
        Returns the health status of the API. Useful for monitoring and uptime checks.
      responses:
        '200':
          description: API is healthy and operational.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponseEnvelope'
              examples:
                healthy:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: API is healthy
                    data:
                      status: UP
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts:
    get:
      tags:
        - Accounts
      summary: List customer accounts
      operationId: listAccounts
      description: >
        Retrieves a paginated list of all bank accounts associated with the authenticated customer.
        Supports filtering and sorting.
      security:
        - BearerAuth:
            - accounts:read
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: accountType
          in: query
          description: Filter accounts by type (e.g., 'SAVINGS', 'CHECKING').
          required: false
          schema:
            type: string
            enum: [ 'SAVINGS', 'CHECKING', 'CREDIT', 'LOAN' ]
          example: CHECKING
        - name: statusCode
          in: query
          description: Filter accounts by status (e.g., 'ACTIVE', 'CLOSED').
          required: false
          schema:
            type: string
            enum: [ 'ACTIVE', 'CLOSED', 'FROZEN' ]
          example: ACTIVE
      responses:
        '200':
          description: A paginated list of customer accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccounts'
              examples:
                accountsList:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: Accounts retrieved successfully.
                    data:
                      items:
                        - accountRef: 'acc_12345'
                          accountNumber: '****1234'
                          accountType: 'CHECKING'
                          balanceAmount: 150000
                          currencyCode: 'USD'
                          statusCode: 'ACTIVE'
                          createdAt: '2022-01-15T09:30:00Z'
                          updatedAt: '2023-09-20T14:15:00Z'
                        - accountRef: 'acc_67890'
                          accountNumber: '****5678'
                          accountType: 'SAVINGS'
                          balanceAmount: 500000
                          currencyCode: 'USD'
                          statusCode: 'ACTIVE'
                          createdAt: '2021-05-01T11:00:00Z'
                          updatedAt: '2023-08-10T10:00:00Z'
                      pagination:
                        page: 1
                        pageSize: 10
                        totalCount: 2
                        totalPages: 1
                        hasNextPage: false
                        hasPreviousPage: false
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountRef}:
    get:
      tags:
        - Accounts
      summary: Get account details
      operationId: getAccountDetails
      description: Retrieves detailed information for a specific bank account.
      security:
        - BearerAuth:
            - accounts:read
      parameters:
        - name: accountRef
          in: path
          description: Unique identifier for the account.
          required: true
          schema:
            type: string
            pattern: '^acc_[a-zA-Z0-9]{5,}$'
          example: acc_12345
      responses:
        '200':
          description: Account details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponseEnvelope'
              examples:
                accountDetails:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: Account details retrieved.
                    data:
                      accountRef: 'acc_12345'
                      accountNumber: '****1234'
                      accountType: 'CHECKING'
                      balanceAmount: 150000
                      currencyCode: 'USD'
                      statusCode: 'ACTIVE'
                      createdAt: '2022-01-15T09:30:00Z'
                      updatedAt: '2023-09-20T14:15:00Z'
        '400':
          description: Invalid account reference format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions or not authorized for this account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountRef}/transactions:
    get:
      tags:
        - Transactions
      summary: List transactions for an account
      operationId: listAccountTransactions
      description: >
        Retrieves a paginated list of transactions for a specific bank account.
        Supports filtering by date range and transaction type.
      security:
        - BearerAuth:
            - transactions:read
      parameters:
        - name: accountRef
          in: path
          description: Unique identifier for the account.
          required: true
          schema:
            type: string
            pattern: '^acc_[a-zA-Z0-9]{5,}$'
          example: acc_12345
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: startDate
          in: query
          description: Start date for filtering transactions (ISO 8601 format).
          required: false
          schema:
            type: string
            format: date
          example: '2023-01-01'
        - name: endDate
          in: query
          description: End date for filtering transactions (ISO 8601 format).
          required: false
          schema:
            type: string
            format: date
          example: '2023-12-31'
        - name: transactionType
          in: query
          description: Filter transactions by type (e.g., 'DEBIT', 'CREDIT').
          required: false
          schema:
            type: string
            enum: [ 'DEBIT', 'CREDIT', 'TRANSFER', 'PAYMENT' ]
          example: DEBIT
      responses:
        '200':
          description: A paginated list of transactions for the specified account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTransactions'
              examples:
                accountTransactions:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: Transactions retrieved successfully.
                    data:
                      items:
                        - transactionId: 'txn_abcde'
                          accountRef: 'acc_12345'
                          totalAmount: 5000
                          currencyCode: 'USD'
                          transactionType: 'DEBIT'
                          eventTimestamp: '2023-10-26T15:30:00Z'
                          description: 'Coffee Shop'
                          statusCode: 'COMPLETED'
                        - transactionId: 'txn_fghij'
                          accountRef: 'acc_12345'
                          totalAmount: 100000
                          currencyCode: 'USD'
                          transactionType: 'CREDIT'
                          eventTimestamp: '2023-10-25T09:00:00Z'
                          description: 'Salary Deposit'
                          statusCode: 'COMPLETED'
                      pagination:
                        page: 1
                        pageSize: 10
                        totalCount: 2
                        totalPages: 1
                        hasNextPage: false
                        hasPreviousPage: false
        '400':
          description: Invalid request parameters or account reference.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions or not authorized for this account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /transactions:
    post:
      tags:
        - Transactions
      summary: Initiate a transaction
      operationId: initiateTransaction
      description: >
        Initiates a new financial transaction, such as a transfer between accounts.
        Requires an idempotency key to prevent duplicate submissions.
      security:
        - BearerAuth:
            - transactions:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Transaction details for initiation.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateTransactionRequest'
            examples:
              transferExample:
                value:
                  sourceAccountRef: 'acc_12345'
                  destinationAccountRef: 'acc_67890'
                  totalAmount: 50000
                  currencyCode: 'USD'
                  description: 'Monthly rent payment'
                  transactionType: 'TRANSFER'
      responses:
        '201':
          description: Transaction initiated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponseEnvelope'
              examples:
                transactionInitiated:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: Transaction initiated.
                    data:
                      transactionId: 'txn_klmno'
                      statusCode: 'PENDING'
        '400':
          description: Invalid transaction details or insufficient funds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - Idempotency key already used for a different request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /transactions/{transactionId}:
    get:
      tags:
        - Transactions
      summary: Get transaction status
      operationId: getTransactionStatus
      description: Retrieves the current status and details of a specific transaction.
      security:
        - BearerAuth:
            - transactions:read
      parameters:
        - name: transactionId
          in: path
          description: Unique identifier for the transaction.
          required: true
          schema:
            type: string
            pattern: '^txn_[a-zA-Z0-9]{5,}$'
          example: txn_klmno
      responses:
        '200':
          description: Transaction details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponseEnvelope'
              examples:
                transactionDetails:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: Transaction details retrieved.
                    data:
                      transactionId: 'txn_klmno'
                      sourceAccountRef: 'acc_12345'
                      destinationAccountRef: 'acc_67890'
                      totalAmount: 50000
                      currencyCode: 'USD'
                      transactionType: 'TRANSFER'
                      eventTimestamp: '2023-10-27T09:45:00Z'
                      description: 'Monthly rent payment'
                      statusCode: 'COMPLETED'
        '400':
          description: Invalid transaction ID format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions or not authorized for this transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Transaction not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /payments:
    post:
      tags:
        - Payments
      summary: Initiate a payment
      operationId: initiatePayment
      description: >
        Initiates a new payment from a customer's account to a specified recipient.
        Requires Strong Customer Authentication (SCA) and an idempotency key.
      security:
        - BearerAuth:
            - payments:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Payment details for initiation.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePaymentRequest'
            examples:
              billPayment:
                value:
                  sourceAccountRef: 'acc_12345'
                  recipientName: 'Utility Company'
                  recipientAccount: '1234567890'
                  recipientBankCode: 'BANKUS33'
                  totalAmount: 7550
                  currencyCode: 'USD'
                  description: 'Electricity bill'
                  scaMethod: 'OTP'
                  scaToken: '123456'
      responses:
        '201':
          description: Payment initiated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponseEnvelope'
              examples:
                paymentInitiated:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: Payment initiated.
                    data:
                      transactionId: 'txn_pqrst'
                      statusCode: 'PENDING_SCA_VERIFICATION'
        '400':
          description: Invalid payment details, insufficient funds, or failed SCA.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - Idempotency key already used for a different request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /cards:
    get:
      tags:
        - Cards
      summary: List customer cards
      operationId: listCards
      description: Retrieves a paginated list of all cards (debit/credit) associated with the authenticated customer.
      security:
        - BearerAuth:
            - cards:read
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: cardType
          in: query
          description: Filter cards by type (e.g., 'DEBIT', 'CREDIT').
          required: false
          schema:
            type: string
            enum: [ 'DEBIT', 'CREDIT' ]
          example: DEBIT
        - name: statusCode
          in: query
          description: Filter cards by status (e.g., 'ACTIVE', 'BLOCKED').
          required: false
          schema:
            type: string
            enum: [ 'ACTIVE', 'BLOCKED', 'EXPIRED', 'PENDING' ]
          example: ACTIVE
      responses:
        '200':
          description: A paginated list of customer cards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCards'
              examples:
                cardsList:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: Cards retrieved successfully.
                    data:
                      items:
                        - cardId: 'card_1111'
                          maskedCardNumber: '************1111'
                          cardType: 'DEBIT'
                          expiryDate: '2025-12-31'
                          statusCode: 'ACTIVE'
                          cardholderName: 'John Doe'
                          createdAt: '2022-03-01T10:00:00Z'
                          updatedAt: '2023-01-01T11:00:00Z'
                        - cardId: 'card_2222'
                          maskedCardNumber: '************2222'
                          cardType: 'CREDIT'
                          expiryDate: '2026-06-30'
                          statusCode: 'ACTIVE'
                          cardholderName: 'John Doe'
                          createdAt: '2021-07-10T14:00:00Z'
                          updatedAt: '2023-05-15T09:00:00Z'
                      pagination:
                        page: 1
                        pageSize: 10
                        totalCount: 2
                        totalPages: 1
                        hasNextPage: false
                        hasPreviousPage: false
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /cards/{cardId}/block:
    post:
      tags:
        - Cards
      summary: Block a card
      operationId: blockCard
      description: Blocks a specific card, preventing further transactions.
      security:
        - BearerAuth:
            - cards:write
      parameters:
        - name: cardId
          in: path
          description: Unique identifier for the card to be blocked.
          required: true
          schema:
            type: string
            pattern: '^card_[a-zA-Z0-9]{4,}$'
          example: card_1111
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Reason for blocking the card.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  description: The reason for blocking the card (e.g., 'LOST', 'STOLEN', 'FRAUD').
                  enum: [ 'LOST', 'STOLEN', 'FRAUD', 'OTHER' ]
                  example: 'STOLEN'
      responses:
        '200':
          description: Card blocked successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardResponseEnvelope'
              examples:
                cardBlocked:
                  value:
                    timestamp: '2023-10-27T10:00:00Z'
                    statusCode: SUCCESS
                    message: Card 'card_1111' blocked due to 'STOLEN'.
                    data:
                      cardId: 'card_1111'
                      statusCode: 'BLOCKED'
        '400':
          description: Invalid card ID or reason.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Authentication required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions or not authorized for this card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Card not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - Card is already blocked or idempotency key used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /customers:
    post:
      tags:
        - Customers
      summary: Onboard a new customer
      operationId: onboardCustomer
      description: >
        Registers a new customer, initiating the KYC/AML process.
        Requires detailed personal information.
      security:
        - BearerAuth:
            - customers:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Customer details for onboarding.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCustomerRequest'
            examples:
              newCustomer:
                value:
                  firstName: 'Jane'
                  lastName: 'Doe'
                  email: 'jane.doe@example.com'
                  phoneNumber: '+15551234567'
                  dateOfBirth: '1